.container {
  padding: 10px;
  margin-bottom: 100px;
  .titleBox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
    gap: 10px;
    .title {
      font-size: 1.8rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 20px;
    margin-bottom: 150px;
    .titleBox {
      gap: 20px;
      .title {
        font-size: 2.5rem;
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding: 20px;
    margin-bottom: 150px;
    .titleBox {
      gap: 10px;
      .title {
        font-size: 2.5rem;
      }
    }
    .infoBox {
      display: flex;
      justify-content: flex-end;
    }
  }
}
