.container {
  padding: 10px;

  .titleBox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
    gap: 10px;
    .title {
      font-size: 1.8rem;
    }
  }
}
