.button {
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 25px;
  z-index: 9999;
  width: 50px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.675);
  border: 1px solid #333;

  .navbarBar {
    width: 20px;
    height: 2px;
    background-color: #333;
  }

  &:hover {
    background-color: #a2d2ff7b;
  }
}
