.carousel {
  margin-top: 10px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;

  .slide {
    position: relative;
  }
}
@media screen and (min-width: 500px) {
  .carousel {
    margin-top: 20px;
    height: 500px;

    .slide {
      position: relative;
    }
  }
}
