*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@property --gradient-angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

body {
  --gradient-color1: #a2d2ff7b;
  --gradient-color2: #fec99a7e;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(
    var(--gradient-angle),
    var(--gradient-color1),
    var(--gradient-color2)
  );
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}
.wrapper {
  overflow-x: hidden;
}
@media screen and (min-width: 1200px) {
  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 20px;
    overflow-x: visible;
  }
}
