.container {
  position: relative;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.344);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 20px;
  padding-right: 22px;
  right: -20px;

  p {
    font-size: 1.5rem;
  }
}
