.container {
  position: relative;
  background: rgba(255, 255, 255, 0.643);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;

  .imageContainer {
    display: flex;
    .imageBox {
      position: relative;
      width: 20px;
      height: 25px;
    }
    .gray {
      filter: grayscale(100%);
    }
  }

  .titleBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    .title {
      font-size: 1.3rem;
      text-align: center;
    }
    .titleImage {
      mix-blend-mode: darken;
    }
  }
}
@media screen and (min-width: 768px) {
  .container {
    .imageContainer {
      display: flex;
      .imageBox {
        position: relative;
        width: 35px;
        height: 35px;
      }
    }

    .titleBox {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin-bottom: 10px;
      .title {
        font-size: 1.7rem;
        text-align: center;
      }
      .titleImage {
        mix-blend-mode: darken;
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .container {
    .imageContainer {
      .imageBox {
        width: 30px;
        height: 30px;
      }
    }
    .titleBox {
      .title {
        font-size: 1.5rem;
      }
    }
  }
}
