.headerBox {
  position: fixed;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  z-index: 9999;
  border-radius: 0 0 10px 10px;
  height: 70px;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.616);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid rgba(255, 255, 255, 0.15);

  .logo {
    margin-left: 20px;
  }
}
